<div class="contact-us">
    <div>
        <input type="text" name="first-name" placeholder="First name" />
        <input type="text" name="last-name" placeholder="Last name" />
    </div>
    <div>
        <input type="text" name="email" placeholder="Email" />
        <input type="text" name="phone" placeholder="Phone number" />
    </div>
    <div>
        <input type="text" name="subject" placeholder="Message subject" />
        <input type="text" name="message" placeholder="How can we help you?" />
    </div>
</div>